# E-mail instellingen
GMAIL_AFZENDER="jouw_bot@gmail.com"
GMAIL_WACHTWOORD="vul_hier_je_app_wachtwoord_in"
MAIL_ONTVANGER="jouw_eigen_email@hotmail.com"

# Greenchoice Inloggegevens
GC_EMAIL="jouw_greenchoice_email@email.com"
GC_WACHTWOORD="jouw_greenchoice_wachtwoord"

# Greenchoice API ID's
GC_CUSTOMER_ID="1234567"
GC_AGREEMENT_ID="1234567"