# Negeer geheime variabelen
.env

# Negeer Python cache bestanden
__pycache__/

# Negeer gegenereerde data en geheugen
*.csv
*.json
*.spec

# Negeer lokale Windows taakplanner scripts
start_scraper.bat

dist/*
build/*